/* About.css */

.about-section {
  background-color: #121212;
  color: #ffffff;
  padding: 4rem 1rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about-text {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.8;
  color: #dddddd;
}

.text-accent {
  color: #00bcd4;
}

.avatar-image {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 173, 181, 0.4);
  transition: transform 0.3s ease;
}


.avatar-image:hover {
  transform: scale(1.05);
  border: 1px solid rgb(25, 148, 224);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(25, 148, 224, 0.4);
  transition: all 0.3s ease-in-out;
}







.text-accent1 {
  color:#00bcd4;}

.btn-accent  {
  background-color:#00bcd4;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.btn-accent a {
  background-color:#00bcd4;
  color: white;
  
  font-weight: 600;
  
  
  text-decoration: none;
}
.btn-accent:hover,.btn-accent a:hover {
  background-color: #121212;
  color:#00bcd4;
  border: 1px solid #00bcd4;

}


@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .avatar-image {
    max-width: 80%;
    margin: auto;
  }
}
