/* main.css */
.hero-section {
  padding: 80px 0;
  background-color: #121212;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.hero-text {
  padding: 0 15px;
}

.intro-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #888;
  margin-bottom: 10px;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f7f2f2;
}

.typewriter-container {
  color: #00bcd4;
  font-size: 1.4rem;
  margin-top: 10px;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 22px;
  background-color: #00bcd4;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #0097a7;
}

.whatsapp-float {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon {
  width: 48px;
  height: 48px;
}



/* Responsive Typography */
@media (max-width: 768px) {
  .main-heading {
    font-size: 2rem;
  }

  .typewriter-container {
    font-size: 1.1rem;
  }

  .hero-btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 200px;
    right: 20px;
    z-index: 1000;
  }
  
  
  
}


/*about css*/
.card:hover {
  transform: scale(1.02);
}
.responsive-avatar {
  max-width: 100%;
  height: auto;
  max-height: 800px;
  width: auto;
}

@media (max-width: 768px) {
  .responsive-avatar {
    max-height: 300px;
  }
}


/*typewriter*/
.typewriter-text .cursor {
  display: inline-block;
  width: 1px;
  background-color: #00bcd4;
  animation: blink 1s infinite;
  margin-left: 3px;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
