/* General */
.home-section {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    padding: 80px 0;
    color: #ffffff;
  }
  
  /* Headers */
  .heading {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .heading-name {
    font-size: 2.5rem;
    color: #00bcd4;
  }
  
  .main-name {
    color: #ff9800;
  }
  
  /* Profile Image */
  .profile-image {
    width: 75%;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
  }
  .profile-image:hover {
    transform: scale(1.05);
  }
  
  /* About Section */
  .home-about-section {
    margin-top: 80px;
    padding-top: 40px;
   
  }
  .section-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .highlight {
    color: #00bcd4;
  }
  
  /* Social Icons */
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 2rem;
    margin-top: 20px;
  }
  .social-links a {
    color: #e0e0e0;
    transition: color 0.3s ease;
  }
  .social-links a:hover {
    color: #00bcd4;
  }
  
  /* Avatar */
  .avatar-img {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .heading {
      font-size: 2rem;
    }
    .heading-name {
      font-size: 1.8rem;
    }
    .profile-image {
      width: 60%;
    }
    .avatar-img {
      max-width: 200px;
    }
  }
  
  .whatsapp-chat-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .whatsapp-chat-button:hover {
    transform: scale(1.1);
  }
  
  .social-gap {
    margin-top: 100px; /* Adjust to your preferred spacing */
  }
  
  .text-description {
    font-size: larger;
  }
  p {
    font-size: larger;
  }