/* navbar.css */
.custom-navbar {
  background:#121212;
  transition: background 0.3s ease-in-out;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  color: #00bcd4;
  cursor: pointer;
}

.custom-navbar .custom-link {
  color: #ffffff;
  
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.custom-navbar .custom-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #00bcd4;
  transition: width 0.3s ease-in-out;
}

.custom-navbar .custom-link:hover::after,
.custom-navbar .custom-link.active::after {
  width: 100%;
}

.custom-navbar .custom-link:hover,
.custom-navbar .custom-link.active {
  color:  #00bcd4;
}

.navbar-toggler {
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column !important;
    gap: 1rem !important;
    padding-top: 1rem;
  }

  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
  }
  .custom-navbar .custom-link {
    color: #ffffff;
    
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
  }
  
}
