/*resume css*/
.custom-resume {
    border: 2px solid white;
    color: white;
    transition: background 0.3s, color 0.3s;
  }
  
  .custom-resume:hover {
    background-color: #000; /* dark background */
    color:#00bcd4;             /* red text on hover */
    border-color:#00bcd4;
  }
  
  .resume {
    background-color: #121212;
    color: white;
    padding-top: 130px;
    padding-bottom: 100px;
    
  }
  .find-me{
    gap: 50px;
  }
  .xyz{
    margin-top:33px
  }
  
  @media (max-width: 768px) {
    .resume {
      padding-top: 20px;
      padding-bottom: 80px;
    }
    .xyz{
      margin-top:0px
    }
  }
  
  @media (min-width: 1200px) {
    .resume {
      padding-top: 190px;
      padding-bottom: 160px;
    }
  }
  
  
  