.custom-resume {
  border: 2px solid white;
  color: white;
  transition: background 0.3s, color 0.3s;
}

.custom-resume:hover {
  background-color: #000;
  color: #00bcd4;
  border-color: #00bcd4;
}

.resume {
  background-color: #121212;
  color: white;
  padding-top: 80px;
  padding-bottom: 50px;
}

.find-me {
  gap: 20px;
}

.xyz {
  margin-top: 33px;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsive padding adjustments */
@media (max-width: 768px) {
  .resume {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .xyz {
    margin-top: 0;
  }

  .find-me {
    flex-direction: column !important;
  }
}

@media (min-width: 1200px) {
  .resume {
    padding-top: 190px;
    padding-bottom: 160px;
  }
}
